@model List<Subject>


<h3 align="center">Subjects List</h3>

@if (TempData["SuccessA"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessA"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (TempData["SuccessB"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessB"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (TempData["SuccessC"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessC"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}

<a class="btn btn-success" asp-action="AddSubject" asp-controller="Subject">Add Subject</a>

<table class="table table-striped table-info">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Units</th>
            <th scope="col">Class Size</th>
            <th scope="col">Instructor</th>
            <th scope="col">Course</th>
            <th scope="col">Section</th>
            <th scope="col">Schedule</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Sub in Model)
        {
            #region Schedule Generator
            string code = Sub.Section.SectionCode;
            string day = "";
            string startTime = "";
            string endTime = "";

            switch(code[0]){
                case 'M':
                    day = "Monday";
                    break;
                case 'T':
                    day = "Tuesday";
                    break;
                case 'W':
                    day = "Wednesday";
                    break;
                case 'H':
                    day = "Thursday";
                    break;
                case 'F':
                    day = "Friday";
                    break;
                case 'S':
                    day = "Saturday";
                    break;
            }

            switch (code[1])
            {
                case 'A':
                    startTime = "07:00 AM";
                    break;
                case 'B':
                    startTime = "08:30 AM";
                    break;
                case 'C':
                    startTime = "10:00 AM";
                    break;
                case 'D':
                    startTime = "11:30 AM";
                    break;
                case 'E':
                    startTime = "1:00 PM";
                    break;
                case 'F':
                    startTime = "2:30 PM";
                    break;
                case 'G':
                    startTime = "4:00 PM";
                    break;
                case 'H':
                    startTime = "5:30 PM";
                    break;
                case 'I':
                    startTime = "7:00 PM";
                    break;
                case 'J':
                    startTime = "8:30 PM";
                    break;
            }

            switch (code[2])
            {
                case 'A':
                    endTime = "07:00 AM";
                    break;
                case 'B':
                    endTime = "08:30 AM";
                    break;
                case 'C':
                    endTime = "10:00 AM";
                    break;
                case 'D':
                    endTime = "11:30 AM";
                    break;
                case 'E':
                    endTime = "1:00 PM";
                    break;
                case 'F':
                    endTime = "2:30 PM";
                    break;
                case 'G':
                    endTime = "4:00 PM";
                    break;
                case 'H':
                    endTime = "5:30 PM";
                    break;
                case 'I':
                    endTime = "7:00 PM";
                    break;
                case 'J':
                    endTime = "8:30 PM";
                    break;
            }
            #endregion

            <tr>
                <th scope="row">@Sub.ID</th>
                <td>@Sub.Name</td>
                <td>@Sub.Units</td>
                <td>@Sub.ClassSize</td>
                <td>@Sub.Faculty.FirstName @Sub.Faculty.LastName</td>
                <td>@Sub.Course.Name</td>
                <td>@code</td>
                <td>@day, @startTime - @endTime</td>
                <td><a class="btn btn-primary" asp-controller="Subject" asp-action="ViewOneSubject" asp-route-id="@Sub.ID">View</a></td>
                <td><a class="btn btn-warning" asp-controller="Subject" asp-action="UpdateSubject" asp-route-id="@Sub.ID">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Subject" asp-action="DeleteSubject" asp-route-id="@Sub.ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
