@model List<Subject>

<h3 align="center">Subjects List</h3>
@if(TempData["FailA"] != null){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["FailA"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if(TempData["FailB"] != null){
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["FailB"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (TempData["FailC"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>@TempData["FailC"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
<table class="table table-striped table-info" id ="data">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Course</th>
            <th scope="col">Section</th>
            <th scope="col">Schedule</th>
            <th scope="col">Available Slots</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Sub in Model)
        {
            int AvailableSlots = Sub.ClassSize - Sub.StudentCount;
            <tr>
                <th scope="row">@Sub.ID</th>
                <td>@Sub.Name</td>
                <td>@Sub.Course.Name</td>
                <td>@Sub.Section.SectionCode</td>
                <td>@Sub.Section.FullSchedule</td>
                <td>@AvailableSlots</td>
                <td><a class="btn btn-primary" asp-controller="Enrollment" asp-action="ViewOneSubject" asp-route-id="@Sub.ID"><i class="bi bi-eye"></i> View</a></td>
                <td><a class="btn btn-success" asp-controller="Enrollment" asp-action="EnrollSubject" asp-route-studentID="@ViewBag.StudentID" asp-route-subjectID="@Sub.ID"><i class="bi bi-plus-circle"></i> Add Class</a></td>
            </tr>
        }
    </tbody>
</table>
