@model List<Department>


<h3 align="center">Departments List</h3>

@if (TempData["SuccessA"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessA"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (TempData["SuccessB"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessB"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (TempData["SuccessC"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessC"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}

<a class="btn btn-success" asp-action="AddDepartment" asp-controller="Department">Add Department</a>

<table class="table table-striped table-info">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Dept in Model)
        {
            <tr>
                <th scope="row">@Dept.ID</th>
                <td>@Dept.Name</td>
                <td><a class="btn btn-primary" asp-controller="Department" asp-action="ViewOneDepartment" asp-route-id="@Dept.ID">View</a></td>
                <td><a class="btn btn-warning" asp-controller="Department" asp-action="UpdateDepartment" asp-route-id="@Dept.ID">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Department" asp-action="DeleteDepartment" asp-route-id="@Dept.ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
