@model List<Faculty>


<h3 align="center">Faculty List</h3>

@if (TempData["SuccessA"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessA"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (TempData["SuccessB"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessB"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}
@if (TempData["SuccessC"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["SuccessC"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

}

<a class="btn btn-success" asp-action="AddFaculty" asp-controller="Faculty">Add Faculty</a>

<table class="table table-striped table-info">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Department</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var Fac in Model)
        {
            <tr>
                <th scope="row">@Fac.ID</th>
                <td>@Fac.FirstName @Fac.LastName</td>
                <td>@Fac.Email</td>
                <td>@Fac.Department.Name</td>
                <td><a class="btn btn-primary" asp-controller="Faculty" asp-action="ViewOneFaculty" asp-route-id="@Fac.ID">View</a></td>
                <td><a class="btn btn-warning" asp-controller="Faculty" asp-action="UpdateFaculty" asp-route-id="@Fac.ID">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Faculty" asp-action="DeleteFaculty" asp-route-id="@Fac.ID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>