@model Faculty

<a asp-controller="Faculty" asp-action="ViewAllFaculty" class="card-link">Back to list</a>
<h3 align ="center">Faculty Details</h3>

<table class="table table-striped table-info">
    <tbody>
        <tr>
            <th scope="col">ID</th>
            <td>@Model.ID</td>

        </tr>
        <tr>
            <th scope="col">Name</th>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <th scope="col">Email Address</th>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <th scope="col">Department</th>
            <td>@Model.Department.Name</td>
        </tr>
    </tbody>
</table>
