@model Faculty

<h1>Faculty Details</h1>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.ID</h6>
        <h5 class="card-text">@Model.Email</h5>
        <h5 class="card-text">@Model.Department.Name</h5>
        <a asp-controller="Faculty" asp-action="ViewAllFaculty" class="card-link">Back to list</a>
    </div>
</div>
